In [4]:
import pandas as pd 
import pandas as pd
d1={
"name":["sai","s","poo"],
"age":[20,21,22ub]
}
d2={
"qualified":[True,True,False]
}
df1=pd.DataFrame(d1)
print("DF1:\n",df1)
df2=pd.DataFrame(d2)
print("DF2:\n",df2)

DF1:
   name  age
0  sai   20
1  sub   21
2  poo   22
DF2:
    qualified
0       True
1       True
2      False

In [10]:
d1={
"name":["sai","sri","poo"],
"age":[20,21,22]
}
d2={
"name":["yuvi","sekar","pushpa"],
"age":[22,21,17]
}
c=pd.DataFrame(d1)
print(c)
d=pd.DataFrame(d2)
print(d)

  name  age
0  sai   20
1  sri   21
2  poo   22
     name  age
0    yuvi   22
1   sekar   21
2  pushpa   17

In [11]:
n=c.merge(d,on="age")
print(n)

  name_x  age name_y
0    sri   21  sekar
1    poo   22   yuvi

In [14]:
#reshape
df=pd.DataFrame({"team":['A','B','C','D'],"points":[90,56,78,88],'assist':[12,34,23,44],"rebounds":[56,43,55,12]})
print(df)
df=pd.melt(df,id_vars='team',value_vars=['points','assist','rebounds'])
print(df)

  team  points  assist  rebounds
0    A      90      12        56
1    B      56      34        43
2    C      78      23        55
3    D      88      44        12
   team  variable  value
0     A    points     90
1     B    points     56
2     C    points     78
3     D    points     88
4     A    assist     12
5     B    assist     34
6     C    assist     23
7     D    assist     44
8     A  rebounds     56
9     B  rebounds     43
10    C  rebounds     55
11    D  rebounds     12