In [2]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [14]:
import pandas as pd
emp=pd.Series(["dharun","Sudeep","Siva","Yash","Keerthana"])
id=pd.Series([80,90,28,57,49])
frame={"EMP":emp,"ID":id}
res=pd.DataFrame(frame)
print("\n Series in Data Frame.\n")
print(res)

 Series in Data Frame.

         EMP  ID
0     dharun  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [15]:
print("\n Extracting one cloumn :\n")
print(res['EMP'])

 Extracting one cloumn :

0       dharun
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: EMP, dtype: object

In [22]:
print("\n Adding new columns:\n")
res["IP"]=pd.Series([80,90,28,56,70])
res["AGE"]=pd.Series([28,32,42,52,66])
print(res)

 Adding new columns:

         EMP  ID  IP  AGE
0     dharun  80  80   28
1     Sudeep  90  90   32
2       Siva  28  28   42
3       Yash  57  56   52
4  Keerthana  49  70   66

In [23]:
print("\n Deleting new column:\n")
del res["AGE"]
print(res)

 Deleting new column:

         EMP  ID  IP
0     dharun  80  80
1     Sudeep  90  90
2       Siva  28  28
3       Yash  57  56
4  Keerthana  49  70

In [24]:
print("\n Extracting the Second row:\n")
print(res.loc[1])

 Extracting the Second row:

EMP    Sudeep
ID         90
IP         90
Name: 1, dtype: object

In [25]:
print("SLice rows:\n",res[1:4])

SLice rows:
       EMP  ID  IP
1  Sudeep  90  90
2    Siva  28  28
3    Yash  57  56

In [33]:
d2=pd.DataFrame([["vicky",100,65],["rahul",110,69]],columns=["EMP","ID","IP"])
print("\n Adding new row values:\n",pd.concat([res,d2]))

 Adding new row values:
          EMP   ID  IP
0     dharun   80  80
1     Sudeep   90  90
2       Siva   28  28
3       Yash   57  56
4  Keerthana   49  70
0      vicky  100  65
1      rahul  110  69

In [37]:
res.loc[len(res)]=["charlie",32,42]
print(res)

         EMP  ID  IP
0     dharun  80  80
1     Sudeep  90  90
2       Siva  28  28
3       Yash  57  56
4  Keerthana  49  70
5    charlie  32  42

In [ ]:
import pandas as pd
import numpy as np
print("DataFrame([[3,9]]*4,columns=[])")